@model IEnumerable<BTL_Web_Cinema.Models.Entities.Phim>
<div class="content_top">
    <div class="heading">
        <h3>Phim đang chiếu</h3>
    </div>
    <div class="see">
    </div>
    <div class="clear"></div>
</div>
<div class="section group">
    @foreach (var item in Model)
    {
        <div class="grid_1_of_4 images_1_of_4">
            <a href="">
                <img src="~/Content/Images/@item.Anh" alt="">
                <p>@item.TenPhim</p>
                <button class="btn">@Html.ActionLink("Đặt vé", "RenderDetail", new { id = @item.MaPhim })</button>
        </div>
    }
</div>


